.navbar
  display: flex
  align-items: center
  flex-direction: row
  justify-content: space-between
  padding: $m-base
  padding: 24px
  margin-bottom: 48px
  width: 100%
  max-width: 1200px

  &__input-wrapper
    position: relative
    width: 100%

    svg
      left: 16px
      position: absolute
      top: 16px

  &__logo
    align-items: center
    display: flex
    display: flex

  &__text
    align-items: center
    color: #fff
    display: flex
    font-size: $font-size-lg
    padding-left: $m-sm

  &__icon
    margin: 0 5px
